/**********************************************************************
***********************************************************************
TechGut landing page responsive template
Version V-1.0
Created Date: 05.02.2015
ThemeRole////
************************************************************************
************************************************************************/
.mainnav .navbar-right,.mainnav .submain{
	display:none;
}
.subnav .navbar-right{
	
}

#terms,#c8,#c9{
    margin-right:5px;
}
.c8,.c9{
    padding:4px;
}

.new-nav-left ol li a{
    color:#313131;
    display: inline-block;
    padding:5px 10px 7px !important;
}
.new-nav-left ol li a:hover{
    text-decoration: none;
    border-bottom:2px solid #313131;
    padding:5px 10px !important;
}
button.btn,a.btn{
    background:#f1f1f1 !important;
    color:#313131;
    border-color:#ccc;
}

button.btn,a.btn:hover{
    background:#f1f1f1 !important;
    color:#313131;
    border-color:#ccc;
}
button.btn-danger{
    color: #fff;
    background-color: #d9534f !important;
    border-color: #d43f3a;
}
button.btn-default,a.btn-default{
    background:#ffffff !important;
    color:#313131;
    border-color:#ccc;
}
body{
font-size:1.5em !important;	
}

h3{
    color:#777777;
    margin:0px;
}

hr{
    width:80%;
}
.navbar-nav > li > .dropdown-menu{
    margin-top: 0px !important;
    right:10px !important;
}
.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e072"; /* "play" icon */
    float: right;
    color: #3fb853;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}

.panel-primary {
    border-color: #58595b !important;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #58595b !important;
    border-color: #58595b !important;
}

.placeholder{color: grey;}
select option:first-child{color: grey; display: none;}
select option{color: #555;}

.content-pad{
    padding:30px 10px 50px !important;
}

#m_vouchersuggestionbox{
    position: absolute;
    z-index:999;
}
#user-list li:hover{background:#F0F0F0;}
.error{
    background: rgba(253, 231, 231, 1) none repeat scroll 0 0;
    border: 2px solid rgba(101, 13, 12, 0.9);
}

.valid{
    background: #FFFFFF;
}

audio,
canvas,
img,
video {
    vertical-align : middle;
    }
	
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background: url('../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}


/*------------------------------------------
    -   Revolution Slider  -
--------------------------------------------*/


.head-tag h1 span {
    letter-spacing  : 2.5px;
    color           : #f9844c;
    font-weight     : 600;
    font-size       : 63px;
   
}

.head-tag h1{
    font-family     : 'Roboto Condensed', sans-serif;
    font-size       : 63px;
    font-weight     : 600;
    letter-spacing  : 1px;
    color           : #fff;
}

.small-text p{
    letter-spacing          : 1px;
    text-align              : center;
    font-size               : 16px;
    font-family             : 'Open Sans', sans-serif;
    -webkit-text-shadow     : none;
    -moz-text-shadow        : none;
    -ms-text-shadow         : none;
    -o-text-shadow          : none;
    text-shadow             : none;
    font-weight             : 400;
    background              : none;
    color                   : #dbdbdb;
}

.start-button .btn{
    text-transform  : uppercase;
    font-size       : 16px;
    font-weight     : 500;
    letter-spacing  : 2px;
    font-family     : 'Open Sans', sans-serif;
    padding         : 10px 35px;
}

.start-button .btn-danger{
    margin-right    : 27px;
    border          : 1px solid #fff !important;
}

.down-arrow .scroll-bottom:hover img{
    cursor      : pointer;
    position    : relative;
    top         : 40%;
}
.rough{
    margin: 30px;
}
.small-title{
    font-family         : 'Roboto Condensed', sans-serif;
    font-weight         : 400;
    text-transform      : uppercase;
    font-size           : 16px;
    background          : #404040;
    color               : #fff;
    height              : 40px;
    padding             : 10px 50px 10px 150px;
    letter-spacing      : 1px;
    border              : 0;
    position            : relative;
}
.small-title:after {
    position            : absolute;
    content             : " ";
    top                 : 0;
    right               : 0;
    width               : 30px;
    height              : 38px;
    margin-right        : -20px;
    border-left         : 20px solid transparent;
    border-right        : 20px solid transparent;
    border-bottom       : 40px solid #404040;
}

.small-title:before {
    position            : absolute;
    content             : " ";
    top                 : 0;
    right               : 0;
    margin-right        : -28px;
    width               : 10px;
    height              : 39px;
     background         : #f65a41;
    -webkit-transform   : skew(27deg);
    -moz-transform      : skew(27deg);
    -o-transform        : skew(27deg);   
    -ms-transform       : skew(27deg);   
    -ms-filter          : "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0, M21=-0.7071067811865467, M22=1.4142135623730934, SizingMethod='auto expand')";
}

.buy-btn{
    font-family         : 'Roboto Condensed', sans-serif;
    font-weight         : 700;
    text-transform      : uppercase;
    font-size           : 40px !important;
    background          : #404040;
    color               : #fff;
    height              : 70px;
    padding             : 10px 120px 10px 50px;
    letter-spacing      : 1px;
    border              : 0;
    position            : relative;
}

.buy-btn:before {
    position            : absolute;
    content             : " ";
    top                 : 0;
    left                : 0;
    margin-left         : -26px;
    width               : 10px;
    height              : 70px;
    background          : #ffffff;
      -webkit-transform : skew(-17deg);
    -moz-transform      : skew(-17deg);
    -o-transform        : skew(-17deg);   
    -ms-transform       : skew(-17deg);   
    -ms-filter          : "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0, M21=-0.7071067811865467, M22=1.4142135623730934, SizingMethod='auto expand')";
}

.buy-btn:after {
    position            : absolute;
    content             : " ";
    top                 : 0;
    left                : 0;
    width               : 30px;
    height              : 0;
    margin-left         : -20px;
    border-left         : 20px solid transparent;
    border-right        : 20px solid transparent;
    border-bottom       : 70px solid #404040;
}


.buy-btn:hover,
.buy-btn:focus{
    background-color    : #e84700;
    border              : 0;
    color               : #fff;
}


.buy-btn:hover:after,
.buy-btn:focus:after
{
   position         : absolute;
    content         : " ";
    top             : 0;
    left            : 0;
    width           : 30px;
    height          : 0;
    margin-left     : -20px;
    border-left     : 20px solid transparent;
    border-right    : 20px solid transparent;
    border-bottom   : 70px solid  #e84700;
}

.second-title{
    height          : 40px;
    padding         : 10px 20px !important;
    text-transform  : capitalize;
}

/*------------------------------------------
    -   SETTINGS FOR BANNER CONTAINERS  -
--------------------------------------------*/

.tp-banner-container{
    width       :100%;
    position    :relative;
    padding     :0;

}

.tp-banner{
    width       :100%;
    position    :relative;
}

.tp-banner-fullscreen-container {
        width       :100%;
        position    :relative;
        padding     :0;
}

.subnav{
	padding:0px;
	font-size:1.04em;
}