@charset "utf-8";/* CSS Document *//* BeyondBI 201312 */
/*.ui-effects-wrapper{    display: inline-block !important;}#user_exam input[type=checkbox]:not(old),#user_exam input[type=radio   ]:not(old){    width     : 2em;    margin    : 0;    padding   : 0;    font-size : 1em;    opacity   : 0;}#user_exam input[type=checkbox]:not(old) + label,#user_exam input[type=radio   ]:not(old) + label{    display      : inline-block;    margin-left  : -2em;    line-height  : 1.5em;}#user_exam input[type=checkbox]:not(old) + label > span,#user_exam input[type=radio   ]:not(old) + label > span{    display          : inline-block;    width            : 1.5em;    height           : 1.5em;    margin           : 0.25em 0.5em 0.25em 0.25em;    border           : 0.0625em solid rgb(192,192,192);    border-radius    : 0.25em;    background       : rgb(224,224,224);    background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));    background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));    background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));    background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));    background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));    vertical-align   : bottom;}#user_exam input[type=checkbox]:not(old):checked + label > span:before{    content     : '✓';    display     : block;    width       : 1em;    color       : rgb(153,204,102);    font-size   : 0.875em;    line-height : 1em;    text-align  : center;    text-shadow : 0 0 0.0714em rgb(115,153,77);    font-weight : bold;}#user_exam input[type=radio]:not(old):checked + label > span > span{    display          : block;    width            : 1.05em;    height           : 1em;    margin           : 0.125em;    border           : 0.0625em solid rgb(115,153,77);    border-radius    : 0.125em;    background       : rgb(153,204,102);    background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));    background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));    background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));    background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));    background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));}p.valid					{	color:#093; }p.invalid				{	color:#FF0000; }input.invalid			{	color:#FF0000; background-color: #FFCC00; }span.invalid			{	color:#FF0000; background-color: #FFCC00; }select.invalid			{	color:#FF0000; background-color: #FFCC00; }input.valid				{	color:#093; background-color: #FFCC00 !important; }span.valid				{	color:#093; background-color: #FFCC00; }select.valid				{	color:#093; background-color: #FFCC00; }textarea.valid				{	color:#093; background-color: #FFCC00; }textarea.invalid		{	color:#FF0000; background-color: #FFCC00; }input.but_r			{	color: #F30; height: 1em; font-size: 1em;}input.but_g			{	color: #0C3; height: 1em; font-size: 1em;}input.qu			{	color: #999; height: 1em; font-size: 1em; border:none; background-color:#CCC; }input.qn			{	color: #999; height: 1em; font-size: 1em; border:none; background-color: #FFF; }	#error					{ 	float: left; width: 580px; text-align:center; color: #FF0000;  padding: 0; margin: 0; } 		td.qbc					{	padding: 0.5em; background-color: #2D669D; color: #FFF; }
#rr						{	padding: 0.5em; font-style:italic; color: #F00; }*/

.glyphicon{
    padding-left:5px;
}
html,body{
    height:100%;
    min-height:100%;
}

#body-container{
    min-height:100%;
    margin-bottom:-40px;
    padding-bottom:40px;
    position: relative;
}
.main-container{
}
.colored-line-left{
    height:2px;
    width:80px;
    float:left;
    background:#58595b;
}
a{
    color:#777777;
}
a:focus,a:hover{
    color:#777777;
}
.tp-caption a:hover{
    border-color:#cccccc;
    color:#000000 !important;
}
.exams-panel{
    min-height:334px;
    height:334px;
}
.exams-panel .panel-body,.exams-panel .panel-body .exams-container{
    height:100%;
}
.exams-buttons{
    position:absolute;
    bottom:0;
    left:0;
}
.exams-buttons a{
    text-decoration: none;
}
.fileinput-upload{
    display:none !important;
}

.table td{
    border:0px !important;
}

.tp-banner-container{
    max-height:500px;
    background:#777777;
}

.navbar-default .navbar-nav > li > a{

    color: #313131 !important;
}

.alert{
margin-top:10px;
}

.breadcrumb{
    padding: 8px 37px !important;
}
.breadcrumb .new-nav-left > li + li::before,.breadcrumb .new-nav-right > li + li::before{
    content: none !important;
}

.breadcrumb .new-nav-left li a,.breadcrumb .new-nav-right li a{
    padding:0 10px;
}
.new-nav-left{
    float: left;
}
.new-nav-right{
    float: right;
}

.new-nav-left ol,.new-nav-right ol{
    list-style: none;
    width:auto;
    padding-left:0px;
    margin-bottom:0px;
}

.new-nav-left li,.new-nav-right li{
    display: inline-block;
}

/*           Navigation Bar             */
.navbar{
    border: 0 none;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    font-size: 14px;
    border-radius:0px !important;
    min-height:70px;
    margin-bottom:0px;
}
.navbar-brand>img{
    display: inline-block;
    min-height:56px;
}
.navbar .main-navigation li a{
    margin:26px 18px;
    padding:0px;
    line-height:18px;
    text-transform:uppercase;
}
#sidebar li a{
    color:#FFFFFF;
}
#sidebar li a:focus,#sidebar li a:hover{
    text-decoration:underline;
    background:transparent;
}
.navbar-default {
    background-color: #FFFFFF !important;

}
.navbar .navbar-brand {
    font-weight: 600;
    /*margin-top: 13px;
    margin-bottom: 13px;
    font-size: 20px;*/
}
.navbar-nav > li > a {
    margin: 6px 3px;
    padding: 6px 7px;
    text-align: center;
    min-width: 70px;
}
.navbar-nav > li > a [class^="fa"]{
    font-size: 18px;
}
.navbar-brand{
    padding: 0px;
    height:auto;
}
.navbar .navbar-nav [class^="pe"]{
    font-size: 32px;
    position: relative;
}
.navbar .navbar-nav p{
    margin: 5px 0 0;
    font-size: 14px;
}
.navbar .btn{
    margin-top: 8px;
    margin-bottom: 8px;
}
.navbar-default:not(.navbar-transparent) {
    /*background-color: rgba(255, 255, 255, 0.96);*/
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
}
.navbar-transparent{
    padding-top: 15px;
    background-color: rgba(0,0,0,.0);
}
.navbar-transparent .navbar-brand, [class*="navbar-ct"] .navbar-brand{
    color: #FFFFFF;
    opacity: 0.95;
}
.navbar-transparent .navbar-brand:hover, .navbar-transparent .navbar-brand:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #5E5E5E;
}
.navbar-transparent .nav .caret{
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > li > a, [class*="navbar-ct"] .navbar-nav > li > a{
    color: #FFFFFF;
    border-color: #FFFFFF;
    text-align: center;
}
.navbar-transparent .navbar-nav > li > a{
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}

.navbar-transparent .navbar-brand:hover, .navbar-transparent .navbar-brand:focus, [class*="navbar-ct"] .navbar-brand:hover, [class*="navbar-ct"] .navbar-brand:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;

}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    /*background-color: rgba(43, 43, 43, 0.1);*/
    border-radius: 4px;
    color: #FFFFFF;
    opacity: 1;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-bottom-color: #2C93FF;
    border-top-color: #2C93FF;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    /*background-color: rgba(255, 255, 255, 0);*/
    color: #2C93FF;
}
.navbar-transparent .navbar-nav > .active > a, .navbar-transparent .navbar-nav > .active > a:hover, .navbar-transparent .navbar-nav > .active > a:focus, .navbar-transparent .navbar-nav > li > a:hover, .navbar-transparent .navbar-nav > li > a:focus, [class*="navbar-ct"] .navbar-nav > .active > a, [class*="navbar-ct"] .navbar-nav > .active > a:hover, [class*="navbar-ct"] .navbar-nav > .active > a:focus, [class*="navbar-ct"] .navbar-nav > li > a:hover, [class*="navbar-ct"] .navbar-nav > li > a:focus {
    /*background-color: rgba(255, 255, 255, 0.2);*/
    border-radius: 4px;
    color: #FFFFFF;
    opacity: 1;
}
.navbar-transparent .navbar-nav > .dropdown > a .caret, [class*="navbar-ct"] .navbar-nav > .dropdown > a .caret{
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > .dropdown > a:hover .caret, .navbar-transparent .navbar-nav > .dropdown > a:focus .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > .open > a, .navbar-transparent .navbar-nav > .open > a:hover, .navbar-transparent .navbar-nav > .open > a:focus {
    /*background-color: rgba(255, 255, 255, 0);*/
    color: #FFFFFF;
    opacity: 1;
}
.navbar .label{
    background-color: #FF4C40;
    position: absolute;
    right: -10px;
    top: 0px;
    font-size: 10px;
    font-family: "Helvetica Neue";
    text-shadow: none;
}
[class*="navbar-ct"] .label{
    /*background-color: #FFFFFF;*/
    color: #FF4C40;
}
.navbar-default:not(.navbar-transparent) .btn-default:hover{
    color: #2C93FF;
    border-color: #2C93FF;
}
.navbar-transparent .btn-default, [class*="navbar-ct"] .btn-default{
    color: #FFFFFF;
    border-color: #FFFFFF;
}
[class*="navbar-ct"] .btn-default.btn-fill{
    color: #777777;
    background-color: #FFFFFF;
    opacity: 0.9;
}
[class*="navbar-ct"] .btn-default.btn-fill:hover, [class*="navbar-ct"] .btn-default.btn-fill:focus, [class*="navbar-ct"] .btn-default.btn-fill:active, [class*="navbar-ct"] .btn-default.btn-fill.active, [class*="navbar-ct"] .open .dropdown-toggle.btn-fill.btn-default{
    border-color: #FFFFFF;
    opacity: 1;
}
.navbar-form{
    box-shadow: none;
}
.navbar-form .form-control{
    /*background-color: rgba(244, 244, 244, 0);*/
    border-radius: 0;
    border:0;
    height: 22px;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    color: #777777;
}
.navbar-transparent .navbar-form .form-control, [class*="navbar-ct"] .navbar-form .form-control{
    color: #FFFFFF;
    border: 0;
    /*     border-bottom: 1px solid rgba(255,255,255,.6); */
}
.navbar:not(.navbar-transparent).navbar-ct-blue{
    background-color: #34ACDC;
    background-color: rgba(52, 172, 220, 0.98);
}
.navbar:not(.navbar-transparent).navbar-ct-azzure{
    background-color: #5BCAFF;
    background-color: rgba(91, 203, 255, 0.98);
}
.navbar:not(.navbar-transparent).navbar-ct-green{
    background-color: #4cd964;
    background-color: rgba(76, 217, 98, 0.98);
}
.navbar:not(.navbar-transparent).navbar-ct-orange{
    background-color: #FF9500;
    background-color: rgba(255, 152, 0, 0.97);
}
.navbar:not(.navbar-transparent).navbar-ct-red{
    background-color: #FF4C40;
    background-color: rgba(255, 76, 64, 0.98);
}

.dropdown-menu > li > a {
    padding: 8px 20px;
    color: #313131 !important;
}
.dropdown-menu > li:first-child > a{
    border-radius: 10px 10px 0 0;
}
.dropdown-menu > li:last-child > a{
    border-bottom: 0 none;
    border-radius: 0 0 10px 10px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #F5F5F5 !important;
    color: #333333;
    opacity: 1;
    text-decoration: none;
}
.navbar-toggle{
    margin-bottom: 27px;
    margin-top: 27px;
    border: 0;
}
.navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
.navbar-collapse, .navbar-form {
    border-color: rgba(0, 0, 0, 0);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgba(0,0,0,0);
}
.navbar-brand-logo{
    padding: 0;
}
.navbar-brand-logo .logo{
    border: 1px solid #333333;
    border-radius: 50%;
    float: left;
    overflow: hidden;
    width: 60px;
}
.navbar .navbar-brand-logo .brand{
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
}
.navbar-default .navbar-brand-logo .brand{
    color: #555;
}
@media (min-width: 768px){
    .navbar-form {
        margin-bottom: 31px;
        margin-top: 31px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .navbar-search-form{
        display: none;
    }

    /*.navbar-nav > li > .dropdown-menu{
        display: block;
        padding: 0;
        z-index: 9000;
        position: absolute;
        -webkit-border-radius: 10px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
        border-radius: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        opacity: 0;
        -ms-filter: "alpha(opacity=0)";
        -webkit-filter: alpha(opacity=0);
        -moz-filter: alpha(opacity=0);
        -ms-filter: alpha(opacity=0);
        -o-filter: alpha(opacity=0);
        filter: alpha(opacity=0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -moz-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -o-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -ms-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    }

    .navbar-nav > li.open > .dropdown-menu{
        -webkit-transform-origin: 29px -50px;
        -moz-transform-origin: 29px -50px;
        -o-transform-origin: 29px -50px;
        -ms-transform-origin: 29px -50px;
        transform-origin: 29px -50px;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        -ms-filter: none;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
    }

    .dropdown-menu:before{
        border-bottom: 11px solid rgba(0, 0, 0, 0.2);
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        right: 15px;
        top: -11px;
    }

    .dropdown-menu:after {
        border-bottom: 11px solid #FFFFFF;
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        right: 15px;
        top: -10px;
    }*/

}

@font-face {
    font-family: 'Pe-icon-7-stroke';
    src:url('../fonts/Pe-icon-7-stroke.eot?-2irksn');
    src:url('../fonts/Pe-icon-7-stroke.eot?#iefix-2irksn') format('embedded-opentype'),
    url('../fonts/Pe-icon-7-stroke.woff?-2irksn') format('woff'),
    url('../fonts/Pe-icon-7-stroke.ttf?-2irksn') format('truetype'),
    url('../fonts/Pe-icon-7-stroke.svg?-2irksn#Pe-icon-7-stroke') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="pe-7s-"], [class*=" pe-7s-"] {
    display: inline-block;
    font-family: 'Pe-icon-7-stroke';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pe-7s-cloud-upload:before {
    content: "\e68a";
}
.pe-7s-cash:before {
    content: "\e68c";
}
.pe-7s-close:before {
    content: "\e680";
}
.pe-7s-bluetooth:before {
    content: "\e68d";
}
.pe-7s-cloud-download:before {
    content: "\e68b";
}
.pe-7s-way:before {
    content: "\e68e";
}
.pe-7s-close-circle:before {
    content: "\e681";
}
.pe-7s-id:before {
    content: "\e68f";
}
.pe-7s-angle-up:before {
    content: "\e682";
}
.pe-7s-wristwatch:before {
    content: "\e690";
}
.pe-7s-angle-up-circle:before {
    content: "\e683";
}
.pe-7s-world:before {
    content: "\e691";
}
.pe-7s-angle-right:before {
    content: "\e684";
}
.pe-7s-volume:before {
    content: "\e692";
}
.pe-7s-angle-right-circle:before {
    content: "\e685";
}
.pe-7s-users:before {
    content: "\e693";
}
.pe-7s-angle-left:before {
    content: "\e686";
}
.pe-7s-user-female:before {
    content: "\e694";
}
.pe-7s-angle-left-circle:before {
    content: "\e687";
}
.pe-7s-up-arrow:before {
    content: "\e695";
}
.pe-7s-angle-down:before {
    content: "\e688";
}
.pe-7s-switch:before {
    content: "\e696";
}
.pe-7s-angle-down-circle:before {
    content: "\e689";
}
.pe-7s-scissors:before {
    content: "\e697";
}
.pe-7s-wallet:before {
    content: "\e600";
}
.pe-7s-safe:before {
    content: "\e698";
}
.pe-7s-volume2:before {
    content: "\e601";
}
.pe-7s-volume1:before {
    content: "\e602";
}
.pe-7s-voicemail:before {
    content: "\e603";
}
.pe-7s-video:before {
    content: "\e604";
}
.pe-7s-user:before {
    content: "\e605";
}
.pe-7s-upload:before {
    content: "\e606";
}
.pe-7s-unlock:before {
    content: "\e607";
}
.pe-7s-umbrella:before {
    content: "\e608";
}
.pe-7s-trash:before {
    content: "\e609";
}
.pe-7s-tools:before {
    content: "\e60a";
}
.pe-7s-timer:before {
    content: "\e60b";
}
.pe-7s-ticket:before {
    content: "\e60c";
}
.pe-7s-target:before {
    content: "\e60d";
}
.pe-7s-sun:before {
    content: "\e60e";
}
.pe-7s-study:before {
    content: "\e60f";
}
.pe-7s-stopwatch:before {
    content: "\e610";
}
.pe-7s-star:before {
    content: "\e611";
}
.pe-7s-speaker:before {
    content: "\e612";
}
.pe-7s-signal:before {
    content: "\e613";
}
.pe-7s-shuffle:before {
    content: "\e614";
}
.pe-7s-shopbag:before {
    content: "\e615";
}
.pe-7s-share:before {
    content: "\e616";
}
.pe-7s-server:before {
    content: "\e617";
}
.pe-7s-search:before {
    content: "\e618";
}
.pe-7s-film:before {
    content: "\e6a5";
}
.pe-7s-science:before {
    content: "\e619";
}
.pe-7s-disk:before {
    content: "\e6a6";
}
.pe-7s-ribbon:before {
    content: "\e61a";
}
.pe-7s-repeat:before {
    content: "\e61b";
}
.pe-7s-refresh:before {
    content: "\e61c";
}
.pe-7s-add-user:before {
    content: "\e6a9";
}
.pe-7s-refresh-cloud:before {
    content: "\e61d";
}
.pe-7s-paperclip:before {
    content: "\e69c";
}
.pe-7s-radio:before {
    content: "\e61e";
}
.pe-7s-note2:before {
    content: "\e69d";
}
.pe-7s-print:before {
    content: "\e61f";
}
.pe-7s-network:before {
    content: "\e69e";
}
.pe-7s-prev:before {
    content: "\e620";
}
.pe-7s-mute:before {
    content: "\e69f";
}
.pe-7s-power:before {
    content: "\e621";
}
.pe-7s-medal:before {
    content: "\e6a0";
}
.pe-7s-portfolio:before {
    content: "\e622";
}
.pe-7s-like2:before {
    content: "\e6a1";
}
.pe-7s-plus:before {
    content: "\e623";
}
.pe-7s-left-arrow:before {
    content: "\e6a2";
}
.pe-7s-play:before {
    content: "\e624";
}
.pe-7s-key:before {
    content: "\e6a3";
}
.pe-7s-plane:before {
    content: "\e625";
}
.pe-7s-joy:before {
    content: "\e6a4";
}
.pe-7s-photo-gallery:before {
    content: "\e626";
}
.pe-7s-pin:before {
    content: "\e69b";
}
.pe-7s-phone:before {
    content: "\e627";
}
.pe-7s-plug:before {
    content: "\e69a";
}
.pe-7s-pen:before {
    content: "\e628";
}
.pe-7s-right-arrow:before {
    content: "\e699";
}
.pe-7s-paper-plane:before {
    content: "\e629";
}
.pe-7s-delete-user:before {
    content: "\e6a7";
}
.pe-7s-paint:before {
    content: "\e62a";
}
.pe-7s-bottom-arrow:before {
    content: "\e6a8";
}
.pe-7s-notebook:before {
    content: "\e62b";
}
.pe-7s-note:before {
    content: "\e62c";
}
.pe-7s-next:before {
    content: "\e62d";
}
.pe-7s-news-paper:before {
    content: "\e62e";
}
.pe-7s-musiclist:before {
    content: "\e62f";
}
.pe-7s-music:before {
    content: "\e630";
}
.pe-7s-mouse:before {
    content: "\e631";
}
.pe-7s-more:before {
    content: "\e632";
}
.pe-7s-moon:before {
    content: "\e633";
}
.pe-7s-monitor:before {
    content: "\e634";
}
.pe-7s-micro:before {
    content: "\e635";
}
.pe-7s-menu:before {
    content: "\e636";
}
.pe-7s-map:before {
    content: "\e637";
}
.pe-7s-map-marker:before {
    content: "\e638";
}
.pe-7s-mail:before {
    content: "\e639";
}
.pe-7s-mail-open:before {
    content: "\e63a";
}
.pe-7s-mail-open-file:before {
    content: "\e63b";
}
.pe-7s-magnet:before {
    content: "\e63c";
}
.pe-7s-loop:before {
    content: "\e63d";
}
.pe-7s-look:before {
    content: "\e63e";
}
.pe-7s-lock:before {
    content: "\e63f";
}
.pe-7s-lintern:before {
    content: "\e640";
}
.pe-7s-link:before {
    content: "\e641";
}
.pe-7s-like:before {
    content: "\e642";
}
.pe-7s-light:before {
    content: "\e643";
}
.pe-7s-less:before {
    content: "\e644";
}
.pe-7s-keypad:before {
    content: "\e645";
}
.pe-7s-junk:before {
    content: "\e646";
}
.pe-7s-info:before {
    content: "\e647";
}
.pe-7s-home:before {
    content: "\e648";
}
.pe-7s-help2:before {
    content: "\e649";
}
.pe-7s-help1:before {
    content: "\e64a";
}
.pe-7s-graph3:before {
    content: "\e64b";
}
.pe-7s-graph2:before {
    content: "\e64c";
}
.pe-7s-graph1:before {
    content: "\e64d";
}
.pe-7s-graph:before {
    content: "\e64e";
}
.pe-7s-global:before {
    content: "\e64f";
}
.pe-7s-gleam:before {
    content: "\e650";
}
.pe-7s-glasses:before {
    content: "\e651";
}
.pe-7s-gift:before {
    content: "\e652";
}
.pe-7s-folder:before {
    content: "\e653";
}
.pe-7s-flag:before {
    content: "\e654";
}
.pe-7s-filter:before {
    content: "\e655";
}
.pe-7s-file:before {
    content: "\e656";
}
.pe-7s-expand1:before {
    content: "\e657";
}
.pe-7s-exapnd2:before {
    content: "\e658";
}
.pe-7s-edit:before {
    content: "\e659";
}
.pe-7s-drop:before {
    content: "\e65a";
}
.pe-7s-drawer:before {
    content: "\e65b";
}
.pe-7s-download:before {
    content: "\e65c";
}
.pe-7s-display2:before {
    content: "\e65d";
}
.pe-7s-display1:before {
    content: "\e65e";
}
.pe-7s-diskette:before {
    content: "\e65f";
}
.pe-7s-date:before {
    content: "\e660";
}
.pe-7s-cup:before {
    content: "\e661";
}
.pe-7s-culture:before {
    content: "\e662";
}
.pe-7s-crop:before {
    content: "\e663";
}
.pe-7s-credit:before {
    content: "\e664";
}
.pe-7s-copy-file:before {
    content: "\e665";
}
.pe-7s-config:before {
    content: "\e666";
}
.pe-7s-compass:before {
    content: "\e667";
}
.pe-7s-comment:before {
    content: "\e668";
}
.pe-7s-coffee:before {
    content: "\e669";
}
.pe-7s-cloud:before {
    content: "\e66a";
}
.pe-7s-clock:before {
    content: "\e66b";
}
.pe-7s-check:before {
    content: "\e66c";
}
.pe-7s-chat:before {
    content: "\e66d";
}
.pe-7s-cart:before {
    content: "\e66e";
}
.pe-7s-camera:before {
    content: "\e66f";
}
.pe-7s-call:before {
    content: "\e670";
}
.pe-7s-calculator:before {
    content: "\e671";
}
.pe-7s-browser:before {
    content: "\e672";
}
.pe-7s-box2:before {
    content: "\e673";
}
.pe-7s-box1:before {
    content: "\e674";
}
.pe-7s-bookmarks:before {
    content: "\e675";
}
.pe-7s-bicycle:before {
    content: "\e676";
}
.pe-7s-bell:before {
    content: "\e677";
}
.pe-7s-battery:before {
    content: "\e678";
}
.pe-7s-ball:before {
    content: "\e679";
}
.pe-7s-back:before {
    content: "\e67a";
}
.pe-7s-attention:before {
    content: "\e67b";
}
.pe-7s-anchor:before {
    content: "\e67c";
}
.pe-7s-albums:before {
    content: "\e67d";
}
.pe-7s-alarm:before {
    content: "\e67e";
}
.pe-7s-airplay:before {
    content: "\e67f";
}

.footer{
    width:100%;
    background:#f7f8fa;
	border-top:1px solid #eaebec;
	border-bottom:1px solid #eaebec;
	padding-top:40px;
	padding-bottom:40px;
    color:#313131;
    /*position: absolute;
    bottom: 0;
    left:0;
    height:40px;*/
	font-size: 15px;
    line-height: 26px;
}

.footer .copyright-social a{
	padding:0px 5px;
}

.footer a{
	color:313131;
}